@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-transform: uppercase;
}

.color-blue {
  color: #003049;
}

.color-red {
  color: #d62828;
}

.color-orange {
  color: #f77f00;
}

.color-yellow {
  color: #fcbf49;
}

.color-white {
  color: #eae2b7;
}

.bg-color-blue {
  color: #003049;
}

.bg-color-red {
  background-color: #d62828;
}

.bg-color-orange {
  background-color: #f77f00;
}

.bg-color-yellow {
  background-color: #fcbf49;
}

.bg-color-white {
  background-color: #eae2b7;
}

.table-row {
  background-color: black;
}

.table-cell {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.tile-image {
  position: absolute;
  width: 500px;
  height: 100px;
}